appdirs==1.4.4
atomicwrites==1.4.0
bqplot==0.12.43
branca==0.7.1
clyent==1.2.2
colour==0.1.5
conda-repo-cli==1.0.75
conda-verify==3.4.2
duckdb==0.10.1
et-xmlfile==1.1.0
folium==0.16.0
fonttools==4.25.0
fqdn==1.5.1
gdown==5.1.0
geojson==3.1.0
inflection==0.5.1
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.18.2
ipytree==0.2.2
isoduration==20.11.0
jsonpointer==2.1
mkl-service==2.4.0
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8

